@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<Example01.Context.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Tất cả sản phẩm</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>

@using(Html.BeginForm("Index","Product",FormMethod.Get))
{
    <p>
        Tìm tên sản phẩm:@Html.TextBox("SearchString",ViewBag.CurreniFilter as string)
        <input type="submit" value="Tìm kiếm"/>
    </p>
}
<table class="table container">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Name)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Avatar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CategoryId)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TypeId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().BrandId)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ShortDes)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FullDescription)
        </th>*@
    <th>
        @Html.DisplayNameFor(model => model.FirstOrDefault().Price)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.FirstOrDefault().PriceDiscount)
    </th>
        @*<th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Slug)
        </th>*@
       
          
          
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>


                <img src="~/Content/images/items/@Html.DisplayFor(modelItem => item.Avatar)" style="width:100px;height:100px" />


            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.TypeId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.BrandId)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.ShortDes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullDescription)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceDiscount)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>*@
          
                
              
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
    <div>
        Trang @(Model.PageCount < Model.PageNumber ? 0: Model.PageNumber) / @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
    </div>
